.content {
    display: flex;
    flex: 1;
    margin: 5% 0 0 0; /* TODO change value with media query for smaller devices */
}

.body {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.body h2 {
    color: #8221a5;
}

.body .question {
    margin: 2rem 0;
    width: 60%; /* TODO increase for smaller devices */
    min-height: 50px;
    border: 1px solid #470061;
    box-sizing: border-box;
    padding: 0 2rem;
    text-decoration: none;
}

.body a:hover {
    border-right: 2rem solid #470061; /* TODO set animation-duration */
    transition: border-right-width .4s ease-in-out;
}

/* applies a given margin to each child of question */
.question > * {
    display: block;
    margin: 2rem 0;
}

.question .title {
    background-color: #8221a5;
    
    width: max-content;
    word-wrap: break-word;
    min-width: 100px;
    padding: .5rem;

    color: white;
    font-weight: bold;
}

.body .answer {
    width: 50%;
}

.body input[type="button"] {
    margin: 0.2rem;
}
